<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Congress House</title>
    <!-- latest compiled and minified css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--This is my CSS File-->
    <link rel="stylesheet" href="styles/main.css"> 
   </head>
  <body>
      <div class="mx-auto" style= "width:1400px;"> 
      <header>  
        <div>
            <!-- Logo-->
            <img class="img-fluid" src="../imgs/logo.png" alt="logo" class="img-thumbnail" style= "width:600px;">
                  <!-- Email -->
                  <a href="mailto:info@tgif.net" class="d-flex justify-content-end align-items-end">&#9993;info@tgif.net</a>
          </div>
       <!--Navbar-->
       <nav>
          <div class="py-sm-5">
                <ul class="nav navbar-light" style="background-color: #e3f2fd;">
                  <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                  </li>
                  <li class="bd-highlight" class="nav-item dropdown">
                    <a
                      class="nav-link active dropdown-toggle"
                      data-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Congress 113</a
                    >
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="senate.html">Senate</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="house.html">House</a>
                    </div>
                  </li>
                  <li class="bd-highlight" class="nav-item dropdown">
                      <a
                        class="nav-link active dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Attendance</a
                      >
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="senate_attendance.html">Senate</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="house_attendance.html">House</a>
                      </div>
                      
                    </li>
                  <li class="bd-highlight" class="nav-item dropdown">
                      <a
                        class="nav-link active dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Party Loyalty</a
                      >
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="senate_party_loyalty.html">Senate</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="house_party_loyalty.html">House</a>
                      </div>
                    </li>
                </ul>
        </nav>
          </header>
    <!--Content-->
    <div class="row">
      <section class="col-md-12"> 
      <h2>Congressmen</h2>
      <p>
        The major power of the House is to pass federal legislation that affects
        the entire country, although its bills must also be passed by the Senate
        and further agreed to by the U.S. President before becoming law (unless
        both the House and Senate re-pass the legislation with a two-thirds
        majority in each chamber). The House has some exclusive powers: the
        power to initiate revenue bills, to impeach officials (impeached
        officials are subsequently tried in the Senate), and to elect the U.S.
        President in case there is no majority in the Electoral College.
      </p>
      <p>
        Each U.S. state is represented in the House in proportion to its
        population as measured in the census, but every state is entitled to at
        least one representative.
      </p>
    </section>
  </div>
<div id="congress"> 
  <div class="d-flex flex-rows justify-content-between" style="width:100%" > 
     <!--Checkbox-->
      <section class="d-flex flex-row justify-content-around" style="width:50%" > 
         <p class="p-2">Filter by Party: </p>
           <div class="form-check p-2">
               <input class="form-check-input" type="checkbox" value="R" id="republican" v-model = "checkedBoxes.partyChecked" >
               <label class="form-check-label" for="republican">
                 Republican
               </label>
             </div>
             <div class="form-check p-2">
               <input class="form-check-input" type="checkbox" value="D" id="democratic" v-model ="checkedBoxes.partyChecked">

               <label class="form-check-label" for="democratic">
                Democratic
               </label>
             </div>                                                 
             <div class="form-check p-2">
                 <input class="form-check-input" type="checkbox" value="I" id="independent"  v-model ="checkedBoxes.partyChecked">

                 <label class="form-check-label" for="independent">
                   Independent
                 </label>
                </div>
             </section>
    <!-- Dropdown -->
    <section >
        <div style="width:50% floatright" >
           <label class="p-2 filter">Filter by State:</label>
           <select v-model="selectedStates"> 
             <option  value="ALL" >All states</option>
             <option v-for="state in states">{{state}}</option>
           </select>
       </div>
    </section> 
  </div> 
          <!--Member Table-->
      
              <table class="displayTable table-hover table-striped  table-sm" cellspacing="0" width="100%" > 
                  <thead class="py-sm-5">
                      <tr>
                        <th class="th-sm">Representative</th>
                        <th class="th-sm">Party Affliation</th>
                        <th class="th-sm">State</th>
                        <th class="th-sm">Years In Office</th>
                        <th class="th-sm">% Votes w/ Party</th>
                      </tr>
                    </thead>
                  <tbody v-for="(rep, index) in filteredReps" :key="reps.id">
                      <tr>
                      <td>{{index+1}}. {{rep.last_name, rep.first_name}} </td>
                      <td>{{rep.party}}</td>
                      <td>{{rep.state}}</td>
                      <td>{{rep.seniority}}</td>
                      <td>{{rep.votes_with_party_pct}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>



        <!--Footer-->
    <div class="row"> 
    <footer class="col-sm-12 bg-white "> 
      <p class=" text-center"> &copy; 2019 TGIF | ALL RIGHTS RESERVED </p>
    </footer>
    </div>
  </div>
  <!-- My JavaScript Files -->
 <!-- production version, optimized for size and speed -->
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 <!-- <script src="/scripts/113senate.js"></script> -->
 <script src="/scripts/main.js"></script>


      <!-- Latest compiled and minified JavaScript  -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
   
  </body>
</html>
